---
# Tasks file for the workspace role
- name: Create user
  ansible.builtin.user:
    name: "{{ prime_user }}"
    shell: /bin/bash

- name: Ensure necessary directories exist
  ansible.builtin.file:
    path: /work/{{ item }}
    state: directory
    recurse: true
    owner: "{{ prime_user }}"
    group: "{{ prime_user }}"
    mode: "0755"
  loop:
    - lib
    - data
    - output
    - downloads
    - sandbox
